#root {
  width: 100dvw;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 10rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em;
}
