:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.field-name {
  margin-bottom: 5px;
}

.field-container {
  display: flex;
}

.input-field {
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
}

/* .delimeter-input {

} */

#pn-container {
  display: flex;
  flex-direction: row;
}

#pn-form {
  display: flex;
  flex-direction: row;
}

.eia-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 5px;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}

.digit-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
  justify-content: space-evenly;
  padding-left: 15px;
  /* border: 1px solid blue; */
}

.options-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.digit-select-container {
  /* justify-self: end; */
  display: flex;
  /* border: 1px solid white; */
  align-self: flex-start;
  width: 100%;
  justify-content: space-between;
}

.delimeter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.validation-dropdown {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
