:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(12, 13, 14);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100dvh;
  min-height: 100dvh;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.field-name {
  margin-bottom: 5px;
}

.field-container {
  display: flex;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.range-options {
  width: 100%;
  animation-name: openRangeOptions;
  animation-duration: 1s;
}

#pn-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eia-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 5px;
  justify-content: space-evenly;
}

.digit-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
  justify-content: space-evenly;
  padding-left: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.digit-select-container {
  display: flex;
  align-self: flex-start;
  width: 100%;
  justify-content: space-between;
}

.delimiter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.validation-dropdown {
  width: 100%;
  border-radius: 0px;
}

.generation-controls {
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  margin-top: 10px;
  background-color: #075784;
  padding: 1%;
  bottom: 0;
  min-width: 20%;
  justify-self: center;
  height: 25dvh;
  border-radius: 10px;
  z-index: 2;
}

#custom-field-container {
  display: flex;
  height: 50%;
}

.addition-btn {
  width: 33.4%;
  height: 100%;
}

#preview-reset-container {
  display: flex;
  flex-direction: column;
}

#preview-btn {
  width: 100%;
}

#run-btn {
  width: 100%;
}

.pn-field-container {
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}

#example-text {
  color: white;
}

.form-check-input {
  margin-left: 5px;
}

#template-btn {
  background-color: white;
}

#template-btn:hover {
  background-color: rgb(13, 110, 253);
}

#template-btn:focus {
  background-color: rgb(13, 110, 253);
}
